#foodName, #foodServing {
    width: 200px;
}

.container {
    width: 60%;
}

.close {
    padding: 12px 20px; 
    font-weight: bold;
}

.close:hover {
    background: #bbb;
}

#date {
    width: 250px;
    margin: auto;
}

.text-truncate:hover{
    overflow: visible;        
    white-space: normal;
    height:auto;
}

.text-truncate {
    overflow: hidden;
    max-width: 200px;
}

.col-form-label {
    margin-left: 16px;
    font-size: 0.9em;
}

#customFoodChoice {
    min-width: 50%;
}

#getNutrition, #addFoodHere {
    width: 150px;
}

.portion {
    padding-left: 16px;
    padding-right: 16px;
}

.btn-outline-secondary {
    border-color: #CFD4D9;
}